<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <style type="text/css">
          .svg-keen-logo-0 {
            fill: #666666;
          }
          
          .svg-keen-logo-1 {
            fill: #41af00;
          }
        </style>
        <g>
          <g>
            <path class="svg-keen-logo-1" d="M74.4,30.5v-11l-0.5-7.7l-0.3-4l0.1-0.1l6.5,19.9c2.3-1.4,4.3-2.9,6.2-4.5V2.1c-1.5,0.4-3.1,0.8-4.8,1.2v6.1
			l1.2,13.9l-0.1,0.1l-6-19.1c-2.2,0.4-4.6,0.8-7.1,1.1v26.8C71.2,31.8,72.9,31.2,74.4,30.5" />
            <path class="svg-keen-logo-1" d="M67.5,7.9V5.7c-4,0.4-8.3,0.7-13,0.7v28.1c4.7-0.1,9-0.6,13-1.6v-2.6c-4.6,0.9-8.1,1-8.1,1V20.7
			c0,0,4.7-0.2,7.3-0.5v-4.3c-2.7,0.2-3.1,0.3-7.3,0.5V8.6C59.4,8.6,63.4,8.6,67.5,7.9" />
            <path class="svg-keen-logo-1" d="M52.3,8.6V6.3c-4.7,0-9-0.3-12.9-0.8v27.1c3.9,1,8.2,1.7,12.9,1.8v-3c-4.1-0.1-8.1-1-8.1-1V20.3
			c3.9,0.4,3.9,0.4,7.3,0.4v-4.3c-4.3-0.1-7.3-0.4-7.3-0.4V8.3C44.2,8.3,47.1,8.6,52.3,8.6" />
            <path class="svg-keen-logo-1" d="M32.1,30.1c2,0.9,4.1,1.7,6.4,2.3L31,14.2L34.7,5c-1.6-0.2-3.1-0.5-4.5-0.8l-3.8,10L32.1,30.1z" />
            <path class="svg-keen-logo-1" d="M26.3,27V14.2V3.4C24.6,3,23,2.5,21.5,2.1v21.4C23,24.7,24.6,25.9,26.3,27" />
            <path class="svg-keen-logo-1" d="M90.7,4.3h0.4c0.2,0,0.4,0,0.4,0c0.1,0,0.1-0.1,0.1-0.1c0,0,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2
			c0,0-0.1-0.1-0.2-0.1c0,0-0.2,0-0.4,0h-0.4V4.3z M90.2,5.7V3.3h1c0.3,0,0.4,0,0.6,0.1c0.1,0,0.2,0.1,0.3,0.2
			c0.1,0.1,0.1,0.2,0.1,0.4c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2c0.1,0.1,0.2,0.1,0.3,0.2C91.9,4.9,92,5,92.1,5.2
			l0.3,0.5h-0.6l-0.3-0.5c-0.1-0.2-0.2-0.3-0.3-0.4c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0h-0.1v1H90.2z" />
            <path class="svg-keen-logo-1" d="M91.1,7c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5C93.6,5.8,92.4,7,91.1,7z
			 M91.1,2.6c-1.1,0-1.9,0.9-1.9,1.9c0,1.1,0.9,1.9,1.9,1.9c1.1,0,1.9-0.9,1.9-1.9C93,3.4,92.1,2.6,91.1,2.6z" />
          </g>
        </g>
      </svg>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/listings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create Listing</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>