<div class="card">
  <div class="card-block">
    <div class="avatar-block">
      <a class="avatar avatar-100 avatar-online" href="javascript:void(0)">
        <img [src]="listing.pictureURL" alt="...">
        <i></i>
      </a>
    </div>
    <div class="info-block">
      <h3 class="card-title">{{listing.listingTitle}}</h3>
      <div class="price-info">
        {{listing.serviceRate}}
      </div>
      <p class="card-text">{{listing.salespitch}}</p>
    </div>
    <div class="buttons-block">
      <a href="#" class="btn btn-primary">Call Now</a>
    </div>
  </div>
</div>